.specialists {
    padding: 50px 0;
    text-align: center;

    &-title {
        @media (max-width: 650px) {
            color: #333;
            font-size: 24px;
            font-family: "bold";
            font-weight: 800;
            color: #007bff;

        }

        font-size: 32px;
        margin-top: 100px;
        color: #007bff;
        margin-bottom: 30px;

    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 25px;
        justify-content: center;
    }
}



.specialist-card {
    background: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:hover {
        transform: scale(1.05);
    }

    img {
        width: 200px;
        height: 250px;
        object-fit: cover;
    }
}

.specialist-content {
    padding: 20px;
    background: #fff;
    text-align: center;
}

.specialist-name {
    font-size: 1.4rem;
    margin-bottom: 5px;
    color: #222;
}

.specialist-info {
    color: #666;
    font-size: 1rem;
    margin-bottom: 15px;
}

.specialist-btn {
    display: block;
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-align: center;
    font-size: 1rem;

    &:hover {
        background: #0056b3;
    }
}