@charset "UTF-8";
@font-face {
  font-family: "bold";
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "lato_black";
  src: url(../fonts/Lato-Black.ttf);
}
.specialists {
  padding: 50px 0;
  text-align: center;
}
.specialists-title {
  font-size: 32px;
  margin-top: 100px;
  color: #007bff;
  margin-bottom: 30px;
}
@media (max-width: 650px) {
  .specialists-title {
    color: #333;
    font-size: 24px;
    font-family: "bold";
    font-weight: 800;
    color: #007bff;
  }
}
.specialists-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  justify-content: center;
}

.specialist-card {
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.specialist-card:hover {
  transform: scale(1.05);
}
.specialist-card img {
  width: 200px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.specialist-content {
  padding: 20px;
  background: #fff;
  text-align: center;
}

.specialist-name {
  font-size: 1.4rem;
  margin-bottom: 5px;
  color: #222;
}

.specialist-info {
  color: #666;
  font-size: 1rem;
  margin-bottom: 15px;
}

.specialist-btn {
  display: block;
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  text-align: center;
  font-size: 1rem;
}
.specialist-btn:hover {
  background: #0056b3;
}

footer {
  padding: 40px 0;
  border-top: #0185fd solid 2px;
  margin-top: 100px;
}
footer p {
  text-align: center;
  font-family: "bold";
  font-weight: 800;
  font-size: 10px;
  opacity: 0.5;
  margin-top: 20px;
  margin-bottom: -30px;
}

.ft-Logo {
  display: flex;
  margin-bottom: -10px;
  align-items: center;
}
.ft-Logo a {
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
}
.ft-Logo a b {
  font-family: "bold";
  font-weight: 800;
  font-size: 24px;
  color: #0185fd;
  margin-bottom: -10px;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.ft-Logo img {
  width: 70px;
  height: 70px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ft-icons-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ft-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ft-icons div {
  display: flex;
  align-items: center;
}
.ft-icons div a img {
  width: 35px;
  height: 35px;
  background-color: transparent;
}
.ft-icons div a:nth-child(3) img {
  width: 45px;
}
.ft-icons div div:nth-child(2) {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

#tel {
  color: #0000F5;
}

.map-sec {
  margin-top: 140px !important;
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 100px !important;
  position: relative;
}

iframe {
  width: 500px;
  height: 500px;
  border-radius: 50px;
  border: 2px solid #0088cc;
}
iframe .map-widget-content-view__frame {
  display: none !important;
}

.text {
  text-decoration: none;
}

.map-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: start;
}

.map-info a {
  text-decoration: none;
}
.map-info h1 {
  font-family: "bold";
  color: rgba(16, 126, 229, 0.8);
  font-weight: 800;
  font-size: 36px;
}
.map-info h3 {
  font-family: "bold";
  color: rgba(16, 126, 229, 0.8);
  font-weight: 800;
  font-size: 24px;
}
.map-info p {
  font-family: "lato_black";
  font-weight: 500;
  font-size: 16px;
  color: #000;
}
.map-info img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.social-sec {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.social-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: start;
  background: #f8f8f8;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.social-info:hover {
  transform: scale(1.01);
}

.instagram {
  border-top: 5px solid #E4405F;
}

.telegram {
  border-top: 5px solid #0088cc;
}

.social-info h1 {
  font-family: "bold";
  font-size: 28px;
  color: rgba(16, 126, 229, 0.8);
}

.social-info h3 {
  font-family: "bold";
  font-size: 20px;
  color: rgba(16, 126, 229, 0.8);
}

.social-info p {
  font-family: "lato_black";
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.social-info img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.mb-card-map {
  display: none;
}

@media (max-width: 650px) {
  .mb-map {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .mb-map .mb-map-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
  }
  .mb-map .mb-map-info h1 {
    font-size: 24px;
  }
  .mb-map .mb-map-info h3 {
    font-size: 18px;
  }
  .mb-map .mb-map-info p {
    font-size: 12px;
  }
  .mb-map .mb-map-info img {
    display: none;
  }
  .mb-map .mb-map-info .mb-card-map {
    display: block;
  }
  .mb-map .ds-card-map {
    display: none;
  }
  .mb-map iframe {
    width: 300px;
    height: 300px;
  }
  .mb-social-sec {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .mb-social-info {
    width: 300px !important;
    height: 300px !important;
    margin-bottom: 40px;
  }
  .mb-social-info h1 {
    font-size: 24px;
  }
  .mb-social-info h3 {
    font-size: 18px;
  }
  .mb-social-info p {
    font-size: 12px;
  }
  .mb-social-info img {
    width: 100px;
    height: 100px;
  }
}
.carousel-item img {
  width: 100%;
  height: 500px;
  border-radius: 8px;
}

.service-card {
  transition: 0.3s;
}

.carousel-item {
  border-radius: 8px;
}
.service-card:hover {
  transform: translateY(-5px);
}

.carousel-inner {
  padding: 0 100px;
}
@media (max-width: 650px) {
  .carousel-inner {
    padding: 0 50px;
  }
}

.card-sec h1 {
  font-family: "bold";
  color: rgba(16, 126, 229, 0.8);
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 20px;
}

.custom-carusel {
  margin-top: 90px;
  margin-bottom: 70px;
  width: 100%;
}
.custom-carusel .card-sec h1 {
  font-family: "bold";
  color: rgba(16, 126, 229, 0.8);
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 30px;
}
.custom-carusel .service-card {
  background: linear-gradient(135deg, #ffffff, #f8f9fa);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
.custom-carusel .service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.custom-carusel .service-card i {
  font-size: 50px;
  color: #007bff;
  margin-bottom: 15px;
  transition: color 0.3s ease-in-out;
}
.custom-carusel .service-card:hover i {
  color: #0056b3;
}
.custom-carusel .service-card h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.custom-carusel .service-card p {
  font-size: 14px;
  color: #555;
}
.custom-carusel .service-card .btn {
  display: inline-block;
  margin-top: 15px;
  background: #007bff;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}

.service-card .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 6px 12px;
  background: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease-in-out, transform 0.2s;
}

.service-card .btn i {
  margin-left: 5px;
  font-size: 12px;
}

.service-card .btn:hover {
  background: #0056b3;
  transform: scale(1.05);
}

.card-text {
  height: 72px;
}

#preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.Preloader-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.Preloader-box h1 {
  font-weight: 800;
  color: #0056b3;
  font-family: "";
  animation: Scale 3s linear infinite;
  text-align: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Scale {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1.3);
  }
  75% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.element {
  animation: Scale 2s ease-in-out infinite;
}

#doctor-details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.doctor-card {
  display: flex;
  max-width: 800px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

.specialist-info {
  height: 45px;
}

.specialist-content a {
  text-decoration: none;
  width: 100%;
  height: 48px;
}

.doctor-img {
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.doctor-info {
  padding: 20px;
  flex: 1;
  margin-left: 10px;
}

.doctor-position {
  font-weight: bold;
  color: #007bff;
  margin-bottom: 10px;
}

.doctor-description {
  color: #555;
}

.specs-back-btn {
  background-color: #007bff;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 48px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
  width: 60px;
  height: 30px;
  border-radius: 5px;
}
.specs-back-btn:hover {
  background-color: #0e4f95;
}

@media (max-width: 650px) {
  .doctor-card {
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 95px;
    margin-bottom: 45px;
  }
  .doctor-card h2 {
    font-size: 18px;
  }
  .doctor-card .doctor-position {
    font-size: 16px;
  }
  .doctor-card .doctor-description {
    font-size: 12px;
    text-align: justify;
  }
  .specs-back-btn {
    font-size: 16px;
  }
  .doctor-img {
    width: 200px;
    height: 200px;
  }
}
.about-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.about-section .container:hover {
  transform: scale(1.01);
}

.about-title {
  padding: 20px;
  width: 100%;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.about-title h1 {
  font-size: 36px;
  color: #007bff;
  margin-bottom: 20px;
  font-family: "lato_black";
}

.about-title h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  font-family: "bold";
  font-weight: 800;
}

.about-images img {
  width: 300px;
  height: 200px;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages {
  text-align: center;
  padding: 50px 20px;
}

.advantages h2 {
  font-size: 28px;
  color: #007bff;
  margin-bottom: 30px;
}

.advantages-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

.advantage-card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.advantage-card:hover {
  transform: scale(1.01);
}

.advantage-card i {
  font-size: 40px;
  color: #007bff;
  margin-bottom: 15px;
}

.advantage-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.advantage-card p {
  font-size: 14px;
  color: #666;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.about-card {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  flex-direction: column;
  margin-top: 80px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  text-align: center;
}

.icon {
  font-size: 40px;
  color: #007bff;
  margin-right: 15px;
}

.about-content h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-content p {
  font-size: 16px;
  color: #333;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  display: none;
}

/* Адаптив */
@media (max-width: 768px) {
  .container {
    flex-direction: column !important;
    text-align: center;
  }
  .about-card {
    flex-direction: column !important;
    text-align: center;
  }
  .icon {
    margin-bottom: 10px;
  }
  .mb-advantages {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .about-title h1 {
    font-size: 28px;
  }
  .about-title h2 {
    font-size: 18px;
  }
  .about-images img {
    width: 250px;
    height: 180px;
  }
}
@media (max-width: 480px) {
  .about-title h1 {
    font-size: 24px;
  }
  .about-title h2 {
    font-size: 16px;
  }
  .about-images img {
    width: 100%;
    height: auto;
  }
}
.advantages-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 768px) {
  .advantages-grid {
    grid-template-columns: 1fr;
  }
}
.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.service-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 120px;
  color: #0056b3;
  text-align: left;
}

.service-description {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 35px;
}
@media (max-width: 768px) {
  .service-description {
    font-size: 16px;
    text-align: justify;
    letter-spacing: 0px;
    line-height: 25px;
  }
}

.service-description-container {
  height: auto;
  width: 100%;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  z-index: -2;
}
.service-description-container .service-icon {
  position: absolute;
  font-size: 100px;
  color: rgba(0, 87, 179, 0.8470588235);
  bottom: 10px;
  right: 10px;
  z-index: -1;
}

.doctor-section {
  text-align: center;
  margin-bottom: 30px;
}
.doctor-section h3 {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: left;
  color: #0056b3;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 30px;
}
.doctor-section .doctor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.doctor-section .doctor-list .doctor-card {
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.doctor-section .doctor-list .doctor-card:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.doctor-section .doctor-list .doctor-card .doctor-img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}
@media (max-width: 900px) {
  .doctor-section .doctor-list .doctor-card .doctor-img {
    width: 100px;
    height: 100px;
  }
}
.doctor-section .doctor-list .doctor-card .doctor-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: center;
}
@media (max-width: 900px) {
  .doctor-section .doctor-list .doctor-card .doctor-info h3 {
    font-size: 14px;
  }
}
.doctor-section .doctor-list .doctor-card .doctor-info .doctor-position {
  font-size: 14px;
  color: #777;
}
@media (max-width: 900px) {
  .doctor-section .doctor-list .doctor-card .doctor-info .doctor-position {
    font-size: 12px;
  }
}

.service-prices {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #0056b3;
}

.back-btn {
  display: block;
  text-align: center;
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.3s;
}
.back-btn:hover {
  background: #0056b3;
}

@media (max-width: 768px) {
  .doctor-list,
  .price-list {
    flex-direction: column;
    align-items: center;
  }
  .doctor-card {
    width: auto;
  }
}
.services-container {
  display: flex;
  justify-content: center;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.services-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 40px;
  list-style: none;
  padding: 0;
  max-width: 900px;
}
@media (max-width: 768px) {
  .services-list {
    grid-template-columns: 1fr;
  }
}
.services-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  transition: transform 0.3s ease, color 0.3s ease;
}
@media (max-width: 768px) {
  .services-list li {
    font-size: 12px;
  }
}
.services-list li::before {
  content: "🔹";
  color: #007bff;
  font-size: 18px;
}
.services-list li:hover {
  transform: scale(1.01);
  color: #0056b3;
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f5f5;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
  background: #bcd3e9;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(16, 126, 229, 0.8);
  width: 8px;
  height: 8px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #0883f7;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  margin-top: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  z-index: 100;
  transition: all 0.3s ease;
}
nav .nav-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
nav .nav-icons a {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  color: #0185fd;
  position: relative;
}
nav .nav-icons a img {
  width: 30px;
  height: 30px;
}
nav.scrolled {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  box-shadow: 1px 5px 4px 0 rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 90px;
  margin: 10px 5%;
  border: rgba(16, 126, 229, 0.8) solid 1px;
  width: 90%;
}
nav .Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
nav .Logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .Logo a b {
  font-family: "bold";
  font-weight: 800;
  font-size: 24px;
  color: #0185fd;
  margin-bottom: -10px;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
nav .Logo img {
  width: 70px;
  height: 70px;
}

nav .Links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
nav .Links a {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  color: #0185fd;
  position: relative;
}
nav .Links a:hover {
  color: #0044ff;
  transition: all 0.3s ease;
}
nav .Links a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 3px;
  border-radius: 20px;
  background-color: #001eff;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
nav .Links a:hover::after {
  width: 100%;
}
nav .Links button {
  border-radius: 10px;
  width: 80px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #0c1b55, rgba(60, 8, 182, 0.392);
  border: none;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 16px;
  color: #0c18ff;
}
nav .Links button:hover {
  color: #180e0e;
  transition: all 0.3s ease;
  transform: scale(1.1);
}

.noneScroll {
  overflow-y: hidden;
}

.main {
  margin-top: 200px;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background: rgba(1, 133, 253, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  border: none;
}
.back-to-top:hover {
  transform: scale(1.1);
  background: rgb(1, 133, 253);
}
.back-to-top.show {
  opacity: 1;
  visibility: visible;
}

.mb-menu {
  height: 100vh;
  width: 100vw;
  position: sticky;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  box-shadow: 1px 5px 4px 0 rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  margin: 10px 5% !important;
  border: rgba(16, 126, 229, 0.8) solid 1px;
  width: 90%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s ease;
  transition: transform 0.3s ease;
  transform: translateY(-100%);
  display: none;
}

.menu {
  display: none;
}

@media (max-width: 650px) {
  .back-to-top {
    width: 45px;
    height: 45px;
    font-size: 20px;
    bottom: 20px;
    right: 20px;
  }
  .menu {
    display: block;
  }
  .mb-container {
    max-width: 600px;
    margin: 0 auto;
    overflow-x: hidden;
  }
  .mb-display-none {
    display: none;
  }
  .mb-links a {
    display: none;
  }
  .mb-links #translate-btn {
    width: 50px;
    height: 40px;
  }
  .mb-nav .mb-nav-icons {
    display: none;
  }
  .mb-menu {
    transform: translateY(0);
  }
  .mb-menu .mb-menu-nav-icons {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .mb-menu .mb-menu-nav-icons a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    color: #0185fd;
    position: relative;
    margin-top: 20px;
  }
  .mb-menu .mb-menu-nav-icons div {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .mb-menu .mb-menu-nav-icons div a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    color: #0185fd;
    position: relative;
    margin-top: 20px;
  }
  .mb-menu .mb-menu-nav-icons div a img {
    width: 30px;
    height: 30px;
  }
  .mb-menu .mb-menu-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .mb-menu .mb-menu-links a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    color: #0185fd;
    position: relative;
    margin-top: 20px;
  }
  .mb-menu .mb-menu-links a img {
    width: 30px;
    height: 30px;
  }
  .mb-menu #close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    width: 35px;
    height: 35px;
  }
  .mb-logo {
    font-weight: 600;
    font-size: 18px;
  }
  .mb-logo b {
    font-size: 18px !important;
  }
  .mb-logo a img {
    width: 40px;
    height: 40px;
  }
  .mb-footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mb-footer .ft-Logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .mb-footer .ft-Logo b {
    font-size: 18px;
  }
}
@media (min-width: 650px) and (max-width: 1024px) {
  .back-to-top {
    width: 45px;
    height: 45px;
    font-size: 20px;
    bottom: 20px;
    right: 20px;
  }
  .menu {
    display: block;
  }
  .mb-container {
    max-width: 600px;
    margin: 0 auto;
    overflow-x: hidden;
  }
  .mb-display-none {
    display: none;
  }
  .mb-links a {
    display: none;
  }
  .mb-links #translate-btn {
    width: 50px;
    height: 40px;
  }
  .mb-nav .mb-nav-icons {
    display: none;
  }
  .mb-menu {
    transform: translateY(0);
  }
  .mb-menu .mb-menu-nav-icons {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .mb-menu .mb-menu-nav-icons a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    color: #0185fd;
    position: relative;
    margin-top: 20px;
  }
  .mb-menu .mb-menu-nav-icons div {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .mb-menu .mb-menu-nav-icons div a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    color: #0185fd;
    position: relative;
    margin-top: 20px;
  }
  .mb-menu .mb-menu-nav-icons div a img {
    width: 30px;
    height: 30px;
  }
  .mb-menu .mb-menu-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .mb-menu .mb-menu-links a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    color: #0185fd;
    position: relative;
    margin-top: 20px;
  }
  .mb-menu .mb-menu-links a img {
    width: 30px;
    height: 30px;
  }
  .mb-menu #close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    width: 35px;
    height: 35px;
  }
  .mb-logo {
    font-weight: 600;
    font-size: 18px;
  }
  .mb-logo b {
    font-size: 18px !important;
  }
  .mb-logo a img {
    width: 40px;
    height: 40px;
  }
  .mb-footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mb-footer .ft-Logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .mb-footer .ft-Logo b {
    font-size: 18px;
  }
}/*# sourceMappingURL=main.css.map */